extends base.pug

block scripts
        scripts(src='/static/index.js')

block style
    style
      include ../static/style.css
block content
    section
        h1 hello I am about
block scripts
        script(src='/static/index.js')
        script(src='/static/index2.js')        