extends base.pug

block scripts
        scripts(src='/static/index.js')

block style
    style
      include ../static/style.css
block content
   section.slider#almond       
           h1 Buy now Our best quality Almonds
   section.container        
       div.productslist
         div.product-card
           div.product-img
             img(src="/static/img/img1.jpg")
           div.product-content  
             h1 The American Rosted Almonds
             p Buy Good Quality Rosted Almonds Online in India, 100%   
               | Original Products @ Best price. Rosted Almonds fro Sale.
             h4.price Rs. #[span 599/-]
             div.btn 
               button.buy-now Buy Now
               button.add-cart Add Cart
         div.product-card
           div.product-img
             img(src="/static/img/img2.jpg")
           div.product-content  
             h1 The American Rosted Almonds
             p Buy Good Quality Rosted Almonds Online in India, 100%   
               | Original Products @ Best price. Rosted Almonds fro Sale.
             h4.price Rs. #[span 599/-]
             div.btn 
               button.buy-now Buy Now
               button.add-cart Add Cart
         div.product-card
           div.product-img
             img(src="/static/img/img3.jpg")
           div.product-content  
             h1 The American Rosted Almonds
             p Buy Good Quality Rosted Almonds Online in India, 100%   
               | Original Products @ Best price. Rosted Almonds fro Sale.
             h4.price Rs. #[span 599/-]
             div.btn 
               button.buy-now Buy Now
               button.add-cart Add Cart
         div.product-card
           div.product-img
             img(src="/static/img/img4.jpg")
           div.product-content  
             h1 The American Rosted Almonds
             p Buy Good Quality Rosted Almonds Online in India, 100%   
               | Original Products @ Best price. Rosted Almonds fro Sale.
             h4.price Rs. #[span 599/-]
             div.btn 
               button.buy-now Buy Now
               button.add-cart Add Cart
         div.product-card
           div.product-img
             img(src="/static/img/img5.jpg")
           div.product-content  
             h1 The American Rosted Almonds
             p Buy Good Quality Rosted Almonds Online in India, 100%   
               | Original Products @ Best price. Rosted Almonds fro Sale.
             h4.price Rs. #[span 599/-]
             div.btn 
               button.buy-now Buy Now
               button.add-cart Add Cart
         div.product-card
           div.product-img
             img(src="/static/img/img6.jpg")
           div.product-content  
             h1 The American Rosted Almonds
             p Buy Good Quality Rosted Almonds Online in India, 100%   
               | Original Products @ Best price. Rosted Almonds fro Sale.
             h4.price Rs. #[span 599/-]
             div.btn 
               button.buy-now Buy Now
               button.add-cart Add Cart
               