extends base.pug

block style
    style
      include ../static/style.css 
block content      
    section.slider       
           h1 Welcome to Livelong Dry-Fruits
           a#buy-now(href="/almond") BUY NOW
    section.category_section
        div.section_intro
           div.cate_sect_head
             h1 Shop By Category
             span This made for you
        div.category_content     
            div.category_card
               div.card
                 a(href="almond") 
                  div.card_bg1#first
                    img(src="/static/img/img9.jpg")
               div.card
                 a(href="almond")
                  div.card_bg1
                    img(src="/static/img/img11.jpg")  
               div.card
                 a(href="almond")
                  div.card_bg1
                    img(src="/static/img/img7.jpg")
               div.card
                 a(href="almond")
                  div.card_bg1
                    img(src="/static/img/img6.jpg")
               div.card
                 a(href="almond")
                  div.card_bg1
                    img(src="/static/img/img4.jpg")
               div.card
                 a(href="almond")
                  div.card_bg1
                    img(src="/static/img/img2.jpg")   
               div.card
                 a(href="almond")
                  div.card_bg1
                    img(src="/static/img/img8.jpg")   
block scripts
        script(src='/static/index.js')
        script(src='/static/index2.js')                    